<!--[formGroup]="contacto"-->
<main>
        <h5 class="title">Contacto</h5>
        <form  id="contact-form" action="" novalidate >
            <div class="row g-2 margin">
                <div class="col-6">
                    <label for="name" class="form-label">Nombre*</label>
                    <input  type="text" class="form-control" id="name" name="name" placeholder="Nombre" >
                    
                </div>
                <div class="col-6">
                    <label for="subject" class="form-label">Asunto*</label>
                    <input  type="text" class="form-control" id="subject" name="subject" placeholder="Asunto" >
                    
                </div>
                <div class="col-6">
                    <label for="email" class="form-label">E-mail*</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Example@mail.com" >
                    
                </div>
                <div class="col-12 mb-3">
                    <label for="comments" class="form-label">Comentarios*</label>
                    <textarea class="form-control" id="comments" name="comments" cols="100" rows="10" ></textarea>
                   
                </div>
                <div class="col-12">
                    <label>(*): Campos obligatorios</label>
                </div>
                <div class="col-12 mb-3">
                    <input type="checkbox" class="form-check-input" id="checkNewsletter">
                    <label for="checkNewsletter" class="form-check-label">Suscribirse a newsletter</label>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Enviar</button> 
                </div>
            </div>
        </form>
</main>