<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
            <a [routerLink]="['/home']">
              <img class="logo" src="./assets/logo1.png" alt="logo">
              logo
            </a>
        </div>

        <div class="col-6">
          <a [routerLink]="['/contact']" class="deco-none mx-auto">
            <h5 class="text-white">Contacto</h5>
          </a>

        <div class="row">
          <div class="col">
            <a href="https://twitter.com" class="deco-none">
              <i class="fa fa-twitter social-icons"></i>
              <span >Twitter</span>
            </a>
          </div>

          <div class="col">
            <a href="https://facebook.com" class="deco-none">
              <i class="fa fa-facebook social-icons"></i>
              <span >Facebook</span>
            </a>
          </div>

          <div class="col">
            <a href="https://youtube.com" class="deco-none">
              <i class="fa fa-youtube social-icons"></i>
              <span >Youtube</span>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
      
        
     
</footer>