@import "src/styles.scss";

$card-padding : 30px;


.recipe-title{
    padding-top: 10px ;
}

.card-recipe-style{
    margin-bottom: 20px;
    padding-top: 25px;
    background: linear-gradient(to bottom,  $card-color-top, $card-color-bottom);
}

.step-card{
    background: linear-gradient(to right, $color-terciary, $card-color-bottom);
    margin-bottom: 30px;
    padding-top: $card-padding ;
    padding-bottom: $card-padding ;
}

.description-style{
    padding-left: 35px;
}