@import "src/styles.scss";
.row{
    width: 400px;
}

@media (max-width:1000px) {
    .col{
        flex: 50%;
        max-width: 50%;
        }
    }

#contact{
    background-color: rgba(255, 255, 255, 0.952);
    width: 450px;
}
    