@import "src/styles.scss";
/*
.fondo{
    background-image: url('../assets/img/fondo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}*/