@import "src/styles.scss";
.row{
    width: 400px;
}

@media (max-width:1000px) {
    .col{
        flex: 50%;
        max-width: 50%;
        }
    }
form{
    margin-bottom: 400px;
}

h1{
    text-align: center;
    margin-bottom: 500px;
    margin-top: 200px;
}

#login{
    margin-top: 20px;
    
    background-color: rgba(255, 255, 255, 0.952);
    width: 450px;
    
}