<body class="page-preset">
    <div class="container">
        <div class="row">
            <div class="col" style="background-color:rgb(51, 255, 0) ;">
                <h5>Titulo</h5>
            </div>
        </div>
        <div class="row">
            <div class="col" style="background-color:rgb(255, 196, 0) ;"> 
                <span class="material-symbols-outlined not-fill" id="first-star">star</span>
                <span class="material-symbols-outlined not-fill" id="second-star">star</span>
                <span class="material-symbols-outlined not-fill" id="third-star">star</span>
                <span class="material-symbols-outlined not-fill" id="fourth-star">star</span>
                <span class="material-symbols-outlined not-fill" id="fifth-star">star</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col" style="background-color:red ;">
                <h3>Ingredientes</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eveniet consectetur numquam alias, repudiandae, architecto officiis tempora natus incidunt voluptas asperiores commodi ab quo itaque fugit sapiente suscipit distinctio deserunt!</p>
            </div>
            <div class="col" style="background-color: yellow;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, quisquam? Ipsum quam amet dicta quisquam excepturi beatae quae aliquid, eveniet enim, at quis debitis quos facilis. Atque ipsa aliquid delectus!</p>
            </div>
            <div class="col order-first">
                <img class="recipe-img" src="./assets/logo1.png" alt="imagen receta">
            </div>
        </div>
    </div>
    <main class="content margin"></main>
</body>